.container {
  text-align: center;
  margin-top: 50px;
}

.app-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}

.message-input {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.publish-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.publish-button:hover {
  background-color: #45a049;
}

.retained-message-box {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.retained-message-box h3 {
  font-size: 20px;
  color: #333;
}

.retained-message-box p {
  font-size: 16px;
  color: #666;
}
